a {
    color: inherit;
    text-decoration: none;
  }
body, html {
    height: 100%;
    margin: 0;
    font-family: "Oswald", sans-serif;
}
.header li{
    list-style: none;
  }
  .header{
    background-color: rgba(0, 0, 0, 1);
  }
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem 1.5rem;
  }

  .hamburger{
    display: none;
  }

  .bar{
    display: block;
    width: 23px;
    height: 2px;
    /* border-radius: .5px; */
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .nav-menu{
    display: flex;
    /* border: 2px solid green; */
    width: auto;
    margin-left: 5rem;
    padding: 0 0;
    justify-content: space-between;
  }
  .nav-item{
    padding: 0rem 1rem;
    /* border: 1px solid red; */
  }
  .nav-link{
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    /* border: 2px solid green; */
  }
  .nav-link >i{
    color: white;
  }
  .nav-link >i:hover{
    color: #bd0000;
  }
  .nav-link:hover{
    color: #bd0000;
    background-color: inherit;
  }
  .nav-logo{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    word-spacing: 0.022em;
    padding: .3rem;
    color: white;
    line-height: 1.7;
  }
  .nav-logo >span{
    color: #bd0000;
  }
  .nav-logo:hover{
    background-color: inherit;
  }
  @media only screen and (max-width: 768px){
    .navbar{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .nav-menu{
      position: fixed;
      left: -100%;
      height: 73%;
      top: 2rem;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding: 1rem 0rem;
      z-index: 1;
    }
    .nav-menu.active{
      left: -12%;
      opacity: 1 !important;
      padding: 4rem 0rem;
      background-color: rgba(0, 0, 0, 1);
      z-index: 2 !important;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.sticky{
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(10,10,10,0.7);
  width: 100%;
}

.bg-break{
  height: 2%;
  background-color: #bd0000;
}

.home-main{
    background-color: #bd0000;
    height: 30%;
}

.main-hero-image{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.15)), url("/static/img/kaleb.png");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* border: 2px solid blue; */
}

.main-hero-text{
  /* border: 2px solid green; */
  text-align: left;
  position: absolute;
  top: 55%;
  left: 4%;
  width: 55%;
  color: white;
}

.main-hero-text >h1{
  text-transform: uppercase;
  letter-spacing: 0.035em;
  word-spacing: 0.022em;
  line-height: 1.4;
}

.main-hero-text >h1>span{
  color: #bd0000;
}

#type-typer{
  display: inline-block;
  line-height: 1.5;
  font-weight: 100 !important;
  font-size: 14px;
  letter-spacing: 0.022em;
  color: rgba(255, 255, 255, .5);

  text-transform: uppercase;
  /* border-right: 2px solid #fff; */
  /* animation: cursor 1s step(2) infinite; */
}
.achivements{
  padding: 4%;
  /* border: 2px solid blue; */
  display: flex;
  /* align-items: safe; */
  background-color: black;
  justify-content: space-around;
}

.achivement-pic{
  height: 260px;
  width: 35%;
  /* border: 2px solid blueviolet; */
}

#achivement-img{
  /* max-width: ; */
  height: 350px;
  max-width: fit-content;
}

@media only screen and (max-width: 768px){
  #achivement-img{
    /* width: 318px !important; */
    width: 212px !important;
    height: 160.8px !important;
    /* height: 241.2px !important; */
    max-width: fit-content;
    /* height: 160.8px; */
  }
}

.achivements-list{
  display: grid;
  /* border: 2px solid green; */
  width: 35%;
  padding: 3% 0%;
  grid-template-columns: repeat(auto-fit, minmax(100px , 1fr));
  column-gap: 20px;
  row-gap: 20px;
}
.achivement{
  width: 135px;
  height: 120px;
  /* border: 2px solid yellow; */
  padding-bottom: 30%;
  box-sizing: border-box;
}

.achivement >h1{
  font-size: 40px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.03em;
  font-family: fantasy;
  color: #bd0000;
}

.achivement >p{
  font-weight: 300;
  /* color: white; */
  color: rgb(220,220,220);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#achivement-1{
  grid-area: 1/1;
}

#achivement-2{
  grid-area: 1/2;
}

#achivement-3{
  grid-area: 2/1;
}

#achivement-4{
  grid-area: 2/2;
}

.affilate-participate{
  display: flex;
  background-color: black;
  flex-direction: column;
  /* border: 2px solid green; */
  padding: 4%;
  justify-content: space-between;
}

.affiliate-desc{
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.affiliate-desc >h1{
  font-family: fantasy;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #bd0000;
  text-transform: uppercase;
}

.affiliate-desc >p{
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(220,220,220);
  /* color: white; */
}

.affiliate-pics{
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  /* align-items: center; */
  /* align-items: end; */
  padding: 0 4px;
}

.affiliate-pics-col{
  /* align-items: end; */
  flex: 80%;
  padding: 0 2px;
  /* align-items: left; */
}

.affiliate-pics-col img{
  margin-top: 8px;
  width: 137px;
  height: 137px;
  vertical-align: super;
  /* border: 3px solid #bd0000; */
  background-color: rgb(220,220,220);
  /* animation: all .3s ease-in-out; */
  /* background-color: #bd0000; */
  /* border-radius: 4px; */
}

.affiliate-pics-col img:hover{
  transform: scale(1.2);
}

#american-spaces{
  width: 120px;
  height: 120px;
}
#us-embassy{
  width: 120px;
  height: 120px;
}
#action-{
  width: 120px;
  height: 120px;
}

#job-creation{
  width: 215px;
  height: 100px;
}

#Goethe{
  height: 102.85px;
  width: 160px;
}

#diamond-hotel{
  width: 190px;
  height: 150.5px;
}
#Sl{
  width: 300px;
  height: 147.8px;
}
#selam{
  width: 220px;
  height: 146.4px;
}
#caramel{
  width: 220px;
  height: 120px;
}
#undp{
  height: 250px;
  width: 124px;
  vertical-align: top;
}

#Lot{
  width: 200px;
  height: 146px; 
}

#eu{
  width: 200px;
  height: 133.33px;
}

.projects-list{
  display: flex;
  flex-direction: column;
  /* padding: 4%; */
}

.bgp-break{
  height: 10px;
  background-color: #bd0000 !important;
}

.project{
  height: 90%;
  background-color: black;
  padding: 4%;
  display: flex;
  /* justify-content: space-between; */
}

.project-desc h1{
  font-family: fantasy;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #bd0000;
  text-transform: uppercase;
}

.project-desc h3{
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
}

.project-desc p{
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.022em;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
}

.project-pics{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  padding: 0 4px;
}

.project-pics-col{
  flex: 80%;
  padding: 0 2px;
  overflow: hidden;
}

.project-pics-col img{
  margin-top: 8px;
  width: 220px;
  height: 220px;
  vertical-align: super;
  /* border: 3px solid #bd0000; */
  background-color: rgb(220,220,220);
}

@media only screen and (max-width: 768px){
  #pro-img-04-1{
    width: 210px !important;
    height: 136.69px !important;
  }
  
  #pro-img-04-2{
    width: 210px !important;
    height: 131.277px !important;
  }
  
  
  #pro-img-03-1{
    width: 210px !important;
    height: 262.5px !important;
  }
  
  #pro-img-03-2{
    width: 210px !important;
    height: 268.8668px !important;
  }
  
  
  #pro-img-02-1{
    width: 250px;
    height: 251.6px;
  }
  
  #pro-img-02-2{
    width: 250px;
    height: 191.35px;
  }
  
  #pro-img-01-1{
    width: 200px;
    height: 151.3px;
  }
  
  #pro-img-01-2{
    width: 200px;
    height: 267px;
  }
  
  #pro-img-01-3{
    width: 200px;
    height: 282.6px;
  }
  
  #pro-img-01-4{
    width: 200px;
    height: 277.5px;
  }  
}

#pro-img-04-1{
  width: 250px;
  height: 162.7px;
}

#pro-img-04-2{
  width: 250px;
  height: 156.2px;
}


#pro-img-03-1{
  width: 250px;
  height: 312.5px;
}

#pro-img-03-2{
  width: 250px;
  height: 320px;
}


#pro-img-02-1{
  width: 250px;
  height: 251.6px;
}

#pro-img-02-2{
  width: 250px;
  height: 191.35px;
}


#pro-img-01-1{
  width: 200px;
  height: 151.3px;
}

#pro-img-01-2{
  width: 200px;
  height: 267px;
}

#pro-img-01-3{
  width: 200px;
  height: 282.6px;
}

#pro-img-01-4{
  width: 200px;
  height: 277.5px;
}


.all-about{
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px){
  .about-me-pic img{
    width: 270px !important;
    height: 180px !important;
  }
}
.about-me-pic{
  background-color: black;
}

.about-me{
  display: flex;
}

.about-me-text{
  background-color: black;
  padding: 4%;
}

.about-me-text h1{
  font-family: fantasy;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #bd0000;
  text-transform: uppercase;
}

.about-me-text p{
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.022em;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
}

.personal-skills{
  background-color: black;
  padding: 4%;
}

.personal-skills h1{
  font-family: fantasy;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #bd0000;
  text-transform: uppercase;
}

.personal-skills p{
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.022em;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
}

.personal-skills li{
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.022em;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
}

.edu-background{
  background-color: black;
  padding: 4%;
}

.edu-background h1{
  font-family: fantasy;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #bd0000;
  text-transform: uppercase;
}

.edu-background h4{
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
}

.edu-background h3{
  font-family: fantasy;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #bd0000;
  text-transform: uppercase;
}

.edu-background p{
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.022em;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
}


.contact{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem 1rem;
    color: white;
    height: auto;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.contact >h2{
    padding: .5rem 2rem;
    font-weight: 500;
}

.contact >h5{
    color: rgb(200,200,200);
    font-weight: 200;
    font-size: 14px;
    /* border: 1px solid red; */
}

.phoneNum{
    color: rgb(100, 100, 100);
    font-weight: 100;
    letter-spacing: 0.01rem;
}

#email{
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    color: rgb(200,200,200);
    font-weight: 200;
}
#email:hover{
    color: #bd0000;
}

.social-meida{
    font-size: 20px;
    /* border: 1px solid brown; */
    padding: 10px 0px;
}
.social-meida >a:hover{
    color: #bd0000;
}

.fab{
    margin: 10px 15px;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding: 3rem 2rem;
}

.copyright >a{
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.035rem;
    word-spacing: 0.040rem;
    color: rgb(220,220,220);
}

.copyright >a:hover{
    color: #bd0000;
}


.copyright >p{
    font-weight: 200;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.copyright >p>a{
    color: rgb(130, 130, 130);
    font-weight: 600;
    text-decoration: underline;
}
